{% extends 'template.kmphtml.twig' %}
{% block title %} Apropos | SOAM {% endblock %}
{% block contenu %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70">
                                <h2>A PROPOS</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
                                        <li class="breadcrumb-item"><a href="apropos">A propos</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <hr>
        <!--? Visit Our Tailor Start -->
        <div class="visit-tailor-area fix">
            <!--Right Contents  -->
            <div class="tailor-offers"></div>
            <!-- left Contents -->
            <div class="tailor-details">
                <span>A propos de SOAM</span>
                <h2><u>A PROPOS</u></h2>
                <p>
                        Solidarité Action dans Le Monde en abrégé SOAM, se veut une association à vocation internationale qui a été créée pour répondre aux aspirations de ses membres qui souscrivent à la déclaration du millénaire adopté par la résolution 55/2 des nations Unies en septembre 2000.
                    La mise en œuvre de cette déclaration s’est matérialisée à travers différents programmes dont le premier était les objectifs du millénaire pour le développement (OMD de 2000-2015). Puis les objectifs pour le développement durable  (ODD 2015-2030).
                    Ce dernier programme qui est également une résolution des Nations Unies en date d’octobre 2015, se veut un plan d’action pour l’humanité entière, la prospérité et la planète  afin de transformer notre monde positivement à l’horizon 2030.
                    Il vise l’élimination de la pauvreté sous toutes ses formes et dans toutes ses dimensions. C’est également le prolongement des objectifs du millénaire pour le développement dont le bilan a été fait en 2015.
                    Ainsi la résolution des nations unies du 25 septembre 2015 intitulé : « Transformer notre monde », s’est fixée 17 objectifs et 169 cibles pour concilier les trois piliers du développement durable que sont : l’économie, le social et l’environnement.
                    C’est dans cette logique que s’inscrit les activités de l’association « Solidarité Action Dans le Monde » qui pour un meilleur fonctionnement et atteindre ses objectifs, a adopté les statuts ci-dessous conformément aux lois du pays qui abrite son siège et dans le respect des normes internationales.
                </p>
            </div>
        </div>
        <!-- Visit Our Tailor End -->
        <hr>
        <!--? Start Align Area -->
        <div class="whole-wrap   alert alert-secondary">
            <div class="container">
                <div class="section-top-border">
                    <h3 class="mb-30 justify-content-center" style="font-size: 30px; font-weight:bold"><u>Mot de la Présidente</u></h3>
                    <div class="row">
                        <div class="col-md-9 mt-sm-20">
                            <p>
                                Dans un monde en pleine mutation comme le nôtre, aucune personne ne peut vivre seule et se dire à l’abri du besoin ou totalement indépendante.
                                L’interdépendance entre les personnes et partant entre les pays est un fait indéniable qui nécessite que nous prenions soin les uns des autres pour garantir la survie et la bonne évolution de notre univers.
                                La pauvreté, la problématique de l’environnement, la sécurité internationale, la santé, l’éducation… sont autant de préoccupations qui nécessitent une solidarité agissante partout sur notre planète.
                                C’est fort de ce constat que des bénévoles responsables et solidaires ont porté sur les fonts baptismaux  l’association : « Solidarité Action dans le monde » en abrégé SOAM.
                                Cette association regroupe des personnes de toutes les couches sociales et de différents domaines d’activités qui ensemble ont décidé de fédérer leurs énergies positives afin de donner un nouvel élan à la solidarité dans le monde.
                                La particularité de cette initiative bien que s’inspirant de la déclaration universelle des Droits de l’HOMME et la déclaration des Nations Unies pour le Millénaire, vient du fait qu’elle est africaine. Elle est la matérialisation d’une prise de responsabilité dans la gestion commune de notre monde où désormais avec la mondialisation, les relations ne doivent plus être dans la verticalité absolue mais plutôt dans le sens des échanges dans le respect mutuel, avec la volonté affichée de permettre la  contribution de tous au devenir d’un monde meilleur.
                                A SOAM nous disons que la fatalité n’existe pas et que «  c’est ensemble que deviendrons meilleur ».
                                L’association SOAM est ouverte à toutes les personnes dans le monde désireuses de contribuer positivement à la lutte contre les maux qui empêchent le développement durable et le bonheur pour chaque personne de l’humanité.
                            </p>
                            <q>Ensemble, nous rendons notre monde meilleur</q>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? Our Adhesion -->
        <hr>
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <h3 class="mb-30 justify-content-center" style="font-size: 30px; font-weight:bold"><u>Condition d’Adhésion</u></h3>
                    <div class="row">
                        <div class="col-md-8 mt-sm-20">
                            <p>
                                <i class="fa fa-hand-point-right"></i> Personne physique,<br><i class="fa fa-hand-point-right"></i> Personne morale & de bonne moralité,<br><i class="fa fa-hand-point-right"></i> sans distinction de dénomination,de genre,
                             d’ethnie,<br><i class="fa fa-hand-point-right"></i> Une Personne de nationalité ou de race,<br><i class="fa fa-hand-point-right"></i> prête à se conformer aux textes régissant la structure.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="public/assets/img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Our Adhesion End-->
        <hr>
    </main>
{% endblock %}