{% extends 'template.kmphtml.twig' %}
{% block title %} Accueil | SOAM {% endblock %}
{% block contenu %}
    <main>
        <!-- slider Area Start-->
        <div class="slider-area position-relative">
            <div class="slider-active dot-style">
                <!-- Single Slider -->
                <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">SOLIDARITE</h1>
                                    <P data-animation="fadeInUp" data-delay=".4s"><q>Désormais la solidarité la plus nécessaire est celle de l'ensemble des habitants de la Terre.</q></P>
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                        Soutenir l’association
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">Environment</h1>
                                    <P data-animation="fadeInUp" data-delay=".4s"><q>Je ne veux pas être le produit de mon environnement je veux que mon environnement soit mon produit à moi</q></P>
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                        Soutenir l’association
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">social</h1>
                                    <p data-animation="fadeInUp" data-delay=".4s"><q>L'ordre social ne vient pas de la nature ; il est fondé sur des conventions.</q></P>
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                        Soutenir l’association
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <hr>
        <!--? Visit Our Tailor Start -->
        <div class="visit-tailor-area fix">
            <!--Right Contents  -->
            <div class="tailor-offers"></div>
            <!-- left Contents -->
            <div class="tailor-details">
                <span>A propos de SOAM</span>
                <h2><u>A PROPOS</u></h2>
                <p>Solidarité Action dans Le Monde en abrégé SOAM, est une association à vocation internationale qui a été créée pour répondre aux aspirations de ses membres qui souscrivent à la déclaration du millénaire adopté par la résolution 55/2 des nations Unies en septembre 2000.
                    La mise en œuvre de cette déclaration s’est matérialisée à travers différents programmes dont le premier était les objectifs du millénaire pour le développement (OMD de 2000-2015). Puis les objectifs pour le développement durable  (ODD 2015-2030).
                </p>
            </div>
        </div>
        <!-- Visit Our Tailor End -->
       <hr>
        <!--? About Area Start -->
        <section class="support-company-area fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <span>Les Objectifs de SOAM</span>
                        <h2><u>Nos Objectifs</u></h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">SOLIDARITE ACTION DANS LE MONDE (SOAM) a pour objectif principal la construction d’un monde meilleur en participant à la réalisation des objectifs du développement durable. </p>
                        <a href="apropos" class="border-btn">Voir Plus</a>
                    </div>
                </div>
                <div class="right-content">
                    <!-- img -->
                    <div class="right-img">
                        <img src="public/assets/img/gallery/safe_in.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <hr>
        <!--? About Area Start -->
        <section class="support-company-area fix pt-10">
            <div class="support-wrapper align-items-center">

                <div class="right-content">
                    <!-- img -->
                    <div class="right-img">
                        <img src="public/assets/img/gallery/services1.png" alt="">
                    </div>
                </div>
                <div class="left-content">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2><u>Nos Moyens d’actions</u></h2>
                        <!--<span class="pera-top">Parmi les activités que mènera SOLIDARITE ACTION DANS LE MONDE pour l’atteinte de ses objectifs, on peut citer:</span>-->
                    </div>
                    <div class="support-caption">

                        <p class="pera-top">
                            <i class="fa fa-hand-point-right"></i>	La  mise en place de divers projets;<br>
                            <i class="fa fa-hand-point-right"></i>	L’implantation des centres de formation et de soutien;<br>
                            <i class="fa fa-hand-point-right"></i>	L’octroi d’appuis financiers ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les programmes de leadership et management ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les activités de formation ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les émissions radio, télé et sur la toile ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les voyages d’études et d’échange d’expériences au profit de ses membres ;<br>
                            <i class="fa fa-hand-point-right"></i>	La recherche des bourses académiques, de formations et de spécialisations en faveur de ses membres ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les soutiens aux initiatives économiques de ses membres et des personnes vulnérables ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les missions de sensibilisations sur les fléaux qui touchent l’humanité ;<br>
                            <i class="fa fa-hand-point-right"></i>	Le parrainage des enfants vulnérables ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les œuvres sociales;<br>

                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <hr>
       {#  <!--? Our Cases Start -->
        <div class="our-cases-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10 ">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <h2>Galeries</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases mb-40">
                            <div class="cases-img">
                                <img src="public/assets/img/gallery/case1.png" alt="">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="#">Wildlife in Danger</a></h3>
                                <p>Interdum nulla, ut commodo diam libero vitae
                                    erat. Aenean faucibus nibh et justo cursus
                                rutrum.</p>
                                <!-- Progress Bar -->
                                <div class="single-skill mb-15">
                                    <div class="bar-progress">
                                        <div id="bar2" class="barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div>
                                            <span class="fill" data-percentage="50"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases mb-40">
                            <div class="cases-img">
                                <img src="public/assets/img/gallery/case2.png" alt="">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="#">Our Green Projects</a></h3>
                                <p>Interdum nulla, ut commodo diam libero vitae
                                    erat. Aenean faucibus nibh et justo cursus
                                rutrum.</p>
                                <!-- Progress Bar -->
                                <div class="single-skill mb-15">
                                    <div class="bar-progress">
                                        <div id="bar2" class="barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div>
                                            <span class="fill" data-percentage="45"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases">
                            <div class="cases-img">
                                <img src="public/assets/img/gallery/case3.png" alt="">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="#">Wildlife in Danger</a></h3>
                                <p>Interdum nulla, ut commodo diam libero vitae
                                    erat. Aenean faucibus nibh et justo cursus
                                rutrum.</p>
                                <!-- Progress Bar -->
                                <div class="single-skill mb-15">
                                    <div class="bar-progress">
                                        <div id="bar3" class="barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div>
                                            <span class="fill" data-percentage="60"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Cases End -->
        <hr>
         #}
         <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <h3 class="mb-30 justify-content-center" style="font-size: 30px; font-weight:bold"><u>Condition d’Adhésion</u></h3>
                    <div class="row">
                        <div class="col-md-8 mt-sm-20">
                            <p>
                                <i class="fa fa-hand-point-right"></i> Personne physique,<br><i class="fa fa-hand-point-right"></i> Personne morale & de bonne moralité,<br><i class="fa fa-hand-point-right"></i> sans distinction de dénomination,de genre,
                             d’ethnie,<br><i class="fa fa-hand-point-right"></i> Une Personne de nationalité ou de race,<br><i class="fa fa-hand-point-right"></i> prête à se conformer aux textes régissant la structure.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="public/assets/img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Our Adhesion End-->
        <hr>
    </main>
{% endblock %}