{% extends 'template.kmphtml.twig' %}
{% block title %} Objectif| SOAM {% endblock %}
{% block contenu %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70">
                                <h2>Objectifs</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
                                        <li class="breadcrumb-item"><a href="objectifs">Objectifs</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <hr>
         <!--? About Area Start -->
         <section class="support-company-area fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <span>Les Objectifs de SOAM</span>
                        <h2><u>Nos Objectifs</u></h2>
                    </div>
                    <hr>
                    <div class="support-caption">
                        <h3><i class="fa fa-hand-point-right fa-1x"></i> <u>Objectif principal</u></h3>
                        <p class="pera-top">SOLIDARITE ACTION DANS LE MONDE (SOAM) a pour objectif principal la construction d’un monde meilleur en participant à la réalisation des objectifs du développement durable. </p>
                        
                    </div>
                    <hr>
                    <div class="support-caption">
                        <h3><i class="fa fa-hand-point-right fa-1x"></i> <u>Objectifs spécifiques</u></h3>
                        <p class="pera-top">
                            - Œuvrer à la mise en place d’une solidarité agissante partout dans le monde;<br>
                            - Lutter contre l’immigration irrégulière;<br>
                            - Contribuer à la lutte contre la pauvreté sous toutes ses formes;<br>
                            - Contribuer à l’accès de tous à une éducation de qualité;<br>
                            - Contribuer à la lutte pour l’égalité des sexes et les violences basées sur le genre;<br>
                            - Contribuer à l’accès de tous à un logement décent;<br>
                            - Participer à l’atteinte des besoins primaires des populations;<br>
                            - Participer à la préservation de l’environnement;<br>
                            - Aider au financement des activités des personnes démunies;<br>
                            - Promouvoir la paix et la sécurité dans le monde;<br>
                            - Mener toute activité sociale visant à améliorer le bien-être des populations;<br>
                            - Développer et entretenir des rapports de partenariat et de fraternité avec des organisations nationales et internationales poursuivant les mêmes objectifs;<br>
                        </p> 
                        <hr>                       
                    </div>
                </div>
                <div class="right-content">
                    <!-- img -->
                    <div class="right-img">
                        <img src="public/assets/img/gallery/safe_in.png" alt="">
                    </div>                    
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <hr>
        <section class="support-company-area fix pt-10">
            <div class="support-wrapper align-items-center">
                
                <div class="right-content">
                    <!-- img -->
                    <div class="right-img">
                        <img src="public/assets/img/gallery/services1.png" alt="">
                    </div>                    
                </div>
                <div class="left-content">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2><u>Nos Moyens d’actions</u></h2>
                        <!--<span class="pera-top">Parmi les activités que mènera SOLIDARITE ACTION DANS LE MONDE pour l’atteinte de ses objectifs, on peut citer:</span>-->
                    </div>
                    <div class="support-caption">

                        <p class="pera-top">
                            <i class="fa fa-hand-point-right"></i>	La  mise en place de divers projets;<br>
                            <i class="fa fa-hand-point-right"></i>	L’implantation des centres de formation et de soutien;<br>
                            <i class="fa fa-hand-point-right"></i>	L’octroi d’appuis financiers ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les programmes de leadership et management ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les activités de formation ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les émissions radio, télé et sur la toile ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les voyages d’études et d’échange d’expériences au profit de ses membres ;<br>
                            <i class="fa fa-hand-point-right"></i>	La recherche des bourses académiques, de formations et de spécialisations en faveur de ses membres ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les soutiens aux initiatives économiques de ses membres et des personnes vulnérables ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les missions de sensibilisations sur les fléaux qui touchent l’humanité ;<br>
                            <i class="fa fa-hand-point-right"></i>	Le parrainage des enfants vulnérables ;<br>
                            <i class="fa fa-hand-point-right"></i>	Les œuvres sociales;<br>
                            
                        </p> 
                        <hr>                       
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!--? Our Adhesion -->
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <h3 class="mb-30 justify-content-center" style="font-size: 30px; font-weight:bold"><u>Condition d’Adhésion</u></h3>
                    <div class="row">
                        <div class="col-md-8 mt-sm-20">
                            <p>
                                <i class="fa fa-hand-point-right"></i> Personne physique,<br><i class="fa fa-hand-point-right"></i> Personne morale & de bonne moralité,<br><i class="fa fa-hand-point-right"></i> sans distinction de dénomination,de genre,
                             d’ethnie,<br><i class="fa fa-hand-point-right"></i> Une Personne de nationalité ou de race,<br><i class="fa fa-hand-point-right"></i> prête à se conformer aux textes régissant la structure.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="public/assets/img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Our Adhesion End-->
        <hr>    
    </main>
{% endblock %}